@use "../abstracts/variables" as *;

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    margin-bottom: 28px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    margin-bottom: 15px;
  }

  @media screen and (width <= 767.9px) {
    margin-bottom: 25px;
  }
}

.form-label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    font-size: 16px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    font-size: 14px;
  }

  @media screen and (width <= 767.9px) {
    font-size: 16px;
  }
}

.required-star {
  color: $theme-color;
}

.form-input {
  height: 44px;
  border: 2px solid $theme-color;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    height: 40px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    height: 30px;
  }

  @media screen and (width <= 767.9px) {
    height: 38px;
  }
}
