:root {
  --font-primary: "Montserrat", sans-serif;
  --font-btn: "SF Pro Display", sans-serif;
  --font-alt: "Helvetica Neue", sans-serif;
  --font-minor: "Inter", sans-serif;
}

body {
  font-family: var(--font-primary);
}
