@use "../abstracts/variables" as *;

// HERO//
.cart-hero {
  color: $white-color;
  text-align: center;
  padding: 85px 0;
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)),
    image-set(
      url("../../assets/images/my-cart/webp/my-cart-bg@1x.webp")
        type("image/webp") 1x,
      url("../../assets/images/my-cart/webp/my-cart-bg@2x.webp")
        type("image/webp") 2x,
      url("../../assets/images/my-cart/my-cart-bg@1x.jpg") type("image/jpeg") 1x,
      url("../../assets/images/my-cart/my-cart-bg@2x.jpg") type("image/jpeg") 2x
    );

  @media screen and (width <= 767.9px) {
    padding: 150px 20px;
    margin-bottom: 70px;
  }
}

.cart-hero__title {
  font-size: 50px;
  font-weight: 700;

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    font-size: 40px;
  }

  @media screen and (width <= 767.9px) {
    font-size: 35px;
  }
}

// CART TABLE//

.cart-table__block {
  margin-bottom: 120px;

  @media screen and (width <= 767.9px) {
    margin-bottom: 80px;
  }
}

.cart-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 70px;

  @media screen and (width <= 767.9px) {
    display: block;
    margin-bottom: 40px;

    thead {
      display: none;
    }

    tbody,
    tr,
    td {
      display: block;
    }

    tr {
      display: flex;
      flex-direction: column;
      border: 2px solid $theme-color;
      margin-bottom: 20px;
      padding: 20px;
      gap: 12px;
    }

    td {
      height: auto !important;
      padding: 0 !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .cart-table__data-img {
      order: -1;
      justify-content: center;
      margin-bottom: 10px;

      &::before {
        display: none;
      }
    }

    .cart-table__data-button {
      order: 100;
      justify-content: flex-end;
    }

    td:not(.cart-table__data-img, .cart-table__data-button) {
      &::before {
        content: attr(data-label) ":";
        font-weight: 700;
        color: $secondary-color;
        flex-shrink: 0;
        width: 90px;
        text-align: right;
        margin-right: 10px;
      }
    }

    .quantity-controls {
      justify-content: flex-end;
      align-items: center;
    }

    .cart-table__img img {
      width: 120px;
      height: 120px;
      object-fit: contain;
    }

    .quantity-controls__btn {
      width: 28px;
      height: 28px;
      font-size: 24px;
      padding: 0;
    }

    .quantity-controls__span {
      font-size: 20px;
      padding: 0 8px;
    }

    .delete-btn {
      position: absolute;
      top: 15px;
      width: 24px;
      height: 24px;
      padding: 0;
      margin: 0;
    }
  }

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    margin-bottom: 60px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    margin-bottom: 50px;
  }
}

.cart-table__head {
  font-size: 18px;
  font-family: var(--font-btn);
  text-transform: uppercase;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    font-size: 16px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    font-size: 15px;
  }
}

.cart-table__head th {
  padding: 15px 40px;
  color: $white-color;
  background-color: $secondary-color;
  border: none;
  text-align: center;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    padding: 12px 30px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    padding: 10px 20px;
  }
}

.cart-table__row {
  height: 138px;
  cursor: pointer;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    height: 120px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    height: 110px;
  }

  @media screen and (width <= 767.9px) {
    height: auto;
    position: relative;
  }

  border-bottom: 2px solid $theme-color;
}

.cart-table tbody td {
  vertical-align: middle;
  height: 138px;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    height: 120px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    height: 110px;
  }

  @media screen and (width <= 767.9px) {
    height: auto;
  }
}

.cart-table__data-img {
  width: 120px;
  height: 120px;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    width: 100px;
    height: 100px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    width: 90px;
    height: 90px;
  }
}

.cart-table__img {
  img {
    width: 120px;
    height: 120px;
    object-fit: contain;

    @media screen and (width >= 1024px) and (width <= 1439.9px) {
      width: 100px;
      height: 100px;
    }

    @media screen and (width >= 768px) and (width <= 1023.9px) {
      width: 90px;
      height: 90px;
    }
  }
}

.cart-table__data-name {
  font-family: var(--font-btn);
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    font-size: 16px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    font-size: 15px;
  }

  @media screen and (width <= 767.9px) {
    text-align: right;
  }
}

.cart-table__data-price {
  font-size: 17px;
  font-weight: 700;
  text-align: center;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    font-size: 15px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    font-size: 14px;
  }

  @media screen and (width <= 767.9px) {
    text-align: right;
  }
}

.quantity-controls {
  display: flex;
  justify-content: center;

  @media screen and (width <= 767.9px) {
    justify-content: flex-end;
  }
}

.quantity-controls__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-family: var(--font-btn);
  font-size: 34px;
  font-weight: 700;
  width: 30px;
  height: 25px;
  padding: 0;
  cursor: pointer;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    font-size: 28px;
    width: 25px;
    height: 22px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    font-size: 24px;
    width: 22px;
    height: 20px;
  }
}

.quantity-controls__span {
  font-family: var(--font-btn);
  font-size: 25px;
  font-weight: 700;
  padding: 0 20px;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    font-size: 22px;
    padding: 0 15px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    font-size: 20px;
    padding: 0 12px;
  }
}

.cart-table__data-total {
  font-size: 17px;
  font-weight: 700;
  text-align: center;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    font-size: 15px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    font-size: 14px;
  }

  @media screen and (width <= 767.9px) {
    text-align: right;
  }
}

.cart-table__data-button {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (width <= 767.9px) {
    justify-content: flex-end;
  }
}

.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  width: 28px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    width: 24px;
    height: 26px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    width: 22px;
    height: 24px;
  }

  @media screen and (width >= 1024px) {
    transition: transform $timing-function;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.delete-btn__icon {
  width: 100%;
  height: 100%;
}

// CART SUMMARY

.cart-summary__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    margin-bottom: 100px;
  }

  @media screen and (width <= 767.9px) {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 80px;
  }
}

.cart-actions__list {
  display: flex;
  gap: 20px;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    gap: 15px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    margin-right: 50px;
  }

  @media screen and (width <= 767.9px) {
    flex-direction: column;
    gap: 15px;
  }
}

.cart-actions__item {
  max-width: 224px;
  height: 60px;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    max-width: 200px;
    height: 55px;
  }

  @media screen and (width <= 767.9px) {
    max-width: 100%;
    height: 50px;
  }
}

.homepage-btn--cart {
  max-width: 224px;
  width: 100%;
  height: 60px;
  font-size: 15px;
  font-weight: 700;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    max-width: 200px;
    height: 55px;
    font-size: 14px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    max-width: 180px;
    font-size: 14px;
    padding: 10px;
  }

  @media screen and (width <= 767.9px) {
    max-width: 320px;
    width: 100%;
    height: 50px;
    font-size: 16px;
  }

  margin-left: auto;
  margin-right: auto;
}

.cart-summary {
  max-width: 570px;
  width: 100%;
  color: $white-color;
  font-weight: 700;
  background-color: $secondary-color;
  padding: 60px 42px 42px;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    max-width: 500px;
    padding: 50px 30px 30px;
  }

  @media screen and (width >= 768px) and (width <= 1023.9px) {
    max-width: 330px;
    padding: 40px 30px 30px;
  }

  @media screen and (width <= 767.9px) {
    max-width: 100%;
    padding: 40px 20px 20px;
  }
}

.cart-summary__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $theme-color;
  margin-bottom: 15px;
  padding-bottom: 20px;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    margin-bottom: 12px;
    padding-bottom: 16px;
  }

  @media screen and (width <= 767.9px) {
    flex-direction: row;
  }

  span:first-child {
    @media screen and (width <= 767.9px) {
      width: 40%;
    }
  }

  span:last-child {
    @media screen and (width <= 767.9px) {
      text-align: right;
      width: 60%;
    }
  }
}

.cart-summary__row--total {
  border-bottom: none;
  margin-bottom: 42px;
  padding-bottom: 0;

  @media screen and (width >= 1024px) and (width <= 1439.9px) {
    margin-bottom: 36px;
  }

  @media screen and (width <= 767.9px) {
    margin-bottom: 30px;
  }
}

.homepage-btn {
  &.checkout-btn {
    max-width: 230px;
    width: 100%;
    height: 42px;
    font-size: 18px;
    font-weight: 700;

    @media screen and (width >= 1024px) and (width <= 1439.9px) {
      max-width: 200px;
      height: 38px;
      font-size: 16px;
    }

    @media screen and (width >= 768px) and (width <= 1023.9px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (width <= 767.9px) {
      max-width: 320px;
      width: 100%;
      height: 50px;
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.cart-thank-you {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;

  @media screen and (width <= 767.9px) {
    font-size: 25px;
    padding-bottom: 20px;
  }
}
