$theme-color: #b92770;
$main-text-color: #000;
$secondary-color: #504e4a;
$white-color: #fff;
$hero-background: #e7e8e9;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$shadow: 0px 20px 80px 0px rgb(193 199 212 / 70%);
$border-color: rgb(114 113 116 / 20%);
$product-info-color: #727174;
