// ABSTRACTS
@use "./abstracts/variables" as *;

// BASE
@use "./base/fonts";
@use "./base/reset";
@use "./base/container";

// COMPONENTS
@use "./components/buttons";
@use "./components/forms";
@use "./components/modal";
@use "./components/product-card";

// LAYOUTS
@use "./layouts/header";
@use "./layouts/footer";

// PAGES
@use "./pages/home";
@use "./pages/cart";
@use "./pages/catalog";
@use "./pages/product-details";
@use "./pages/about";
@use "./pages/contact";
